.carousel .item {
    height: 300px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }
  .card{
      background-color: red;
  }
  
  .card{
    border-radius: 6px;
  overflow: hidden; 
  background: rgb(248, 5, 5);
  box-shadow: 0px 1px 10px rgb(243, 6, 6);
  cursor: default;
  transition: all 400ms ease;
  
  }
  .card:hover{
  box-shadow: seashell;
  transform: translateY(-3%);
  }
   .card p{
       color: rgb(255, 249, 255);
   }
   .card button{
       color: rgb(60, 41, 105);
   }
   body{
       background-color: black;
   }